body {
    background-color: #f6f6f6;
    padding-top: 30px;
}
.main {
    background-color: #fff;
    border: 1px solid #CCC;
    padding: 40px;
}
.container {
    width: 1100px;
}
.nav-list {
    font-size: 17px;
}
.nav-header {
    font-size: 17px;
    text-transform: none;
    line-height: 30px;
}
h1 {
    font-size: 36px;
    margin-bottom: 20px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 20px;
}
h4 {
    font-size: 16px;
    font-weight: 700;
}
h4 {
    font-size: 16px;
}